<!-- PHPUnit configuration file for the serial test suite. -->
<phpunit bootstrap="env.php">
  <testsuites>
    <testsuite name="serial">
      <file>test_dtype.php</file>
      <file>test_reader.php</file>
      <file>test_writer.php</file>
      <file>test_buffer.php</file>
      <file>test_filter.php</file>
    </testsuite>
  </testsuites>
</phpunit>
